section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    padding: 1rem;
    border-bottom: 2px solid red;
}

article {
    width: 40%;
    height: 20rem;

    border: 2px solid red;
    border-radius: 1rem;

    margin: 1rem;

    background-size: cover;
    background-position: center;
    
}

.arrow {
    align-self: center;
    height: 2rem;
    width: 2rem;
    border: 1px solid blue;
}

.disabled {
    border-color: grey;
}

.pictures {
    padding: 1rem;
    border-bottom: 2px solid red;
}