section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    padding: 1rem;
    border-bottom: 2px solid #165512;

    background-color: #D2E3C8;
}

article {
    width: 40%;
    height: 20rem;

    border: 3px solid #165512;
    border-radius: 1rem;

    margin: 1rem;

    background-size: cover;
    background-position: center;
    
}

.infos {
    width: fit-content;

    padding: 0.5rem;

    border-radius: 1rem 0;
    border-bottom: 1px solid #165512;
    border-right: 1px solid #165512;

    background-color: #D2E3C8;
    opacity: 0.8;
}

.arrow {
    align-self: center;
    cursor: pointer;
    
    img {
        width: 3rem;
    }
}

.disabled {
    opacity: 0.4;
    cursor: auto;
}

.pictures {
    padding: 1rem;
    background-color: #EBF3E8;
}

.selected {
    transform: scale(1.1);
  }