form {
    width: fit-content;
    margin: auto;

    background-color: #D2E3C8;
    border: 1px solid #165512;
    border-radius: 2rem;
}    
select, button {
    margin: 0.5rem;
    padding: 0.5rem;

    border: 1px solid #165512;
    border-radius: 2rem;
}